/*先删除默认的内外边距*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fafafa;
}
li {
    list-style: none; /*取消li的小点*/
}
/*顶部导航栏*/
.header {
    height: 88px;
    background-color: #fff;
}
.header-inner {
    width: 1240px;
    margin: auto;
    line-height: 88px;
}
.logo {
    float: left;
}
.nav {
    float: right;
}
.nav ul {
    overflow: hidden;
}
.nav li {
    height: 88px;
    float: left;
    margin: 0 20px;
}
.nav li a {
    color: #333333;
    text-decoration: none;
}
.nav li a:hover {
    color: #2288f6;
}
/*banner start*/
.banner {
    height: 620px;
    background: url(../images/banner_qywh.jpg) no-repeat center center;
    background-color: black;
}
/*banner end*/
/*service star*/
.service {
    width: 1055px;
    height: 660px;
    margin: 75px auto 0;
    /*background-color: pink;*/
}
.service-hd {
    margin: 0 25px;
    border-top: 1px solid #cccccc;
}
.service-hd h3 {
    width: 167px;
    height: 120px;
    margin: 0 auto;
    margin-top: -50px;
}
.service-hd p {
    font-size: 12px;
    color: #666666;
    line-height: 26px;
    text-align: center;
    width: 831px;
    margin: 0 auto;
}
.service-bd {
    margin-top: 40px;
}
.service-bd li {
    width: 318px;
    height: 508px;
    background-color: #ffffff;
    float: left;
    border: 1px solid #e7e8e9;
}
.service-bd li img {
    margin: 40px 35px;
    width: 248px;
    height: 132px;
}
.service-bd li h3 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    height: 40px;
}
.service-bd li p {
    font-size: 12px;
    color: #666666;
    width: 235px;
    margin: 0 auto;
    line-height: 26px;
}
.service-bd li a {
    width: 148px;
    height: 38px;
    display: block;
    border: 1px solid #ff9412;
    margin: 20px auto;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    font-size: 12px;
    color: #ff9412;
    border-radius: 5px;
}
.service-bd li a:hover {
    background-color: #ff9412;
    color: #ffffff;
}
.yingxiao {
    margin: 0 45px;
}